<%= form_for @quote do |f| %>
<%= render partial: 'applications/error_messages', locals: {model: @quote} %>
<div class="row">

	<!-- Customer information -->
	<div class="col-sm-5">
		<h2>Customer Information</h2>
		<%= form_group_div(f, :customer_name) %>
		<%= form_group_div(f, :street) %>
		<%= form_group_div(f, :city) %>
		<%= form_group_div(f, :zip_code) %>
		<%= form_group_div(f, :state) %>
	</div>
	<!-- End Customer information -->

	<!-- Job information -->
	<div class="col-sm-7"> 
		<h2>Job Information</h2> 
		<%= f.fields_for :applications do |a| %>

		<%= form_group_custom_select_div(a, :application_type, [['Wall'], ['Ceiling'], ['Floor']]) %>
		<%= form_group_div(a, :description) %>
		
		<div class="row">
			<div class="col-sm-6">
				<%= form_group_select_div(a, :oc, :width) %>
				<%= form_group_custom_select_div(a, :framing, [['TGI'], ['Metal'], ['Conventional']]) %>
				<%= form_group_select_div(a, :vapor_barrier, :facing) %>
				<%= form_group_div(a, :r_value) %>
				<%= render partial: 'applications/price', locals: {a: a, item: :square_foot_price} %>
			</div>
			
			<div class="col-sm-6">
				<%= form_group_div(a, :length) %>
				<%= form_group_div(a, :width) %>
				<%= form_group_div(a, :height) %>
				<%= form_group_div(a, :depth) %>
			</div>
		</div>

		<% end %>         
	</div>
	<!-- End Job information -->
	
</div>
<%= f.submit class: 'btn btn-primary' %>
<% end %>
