<%= form_for @quote do |f| %>
<%= render partial: 'layouts/validation_messages', locals: {model: @quote} %>
<div class="row">

	<div class="col-sm-5">
		<!-- Customer information -->
		<h2>Customer Information</h2>
		<%= form_group_div(f, :customer_name) %>
		<%= form_group_div(f, :street) %>
		<%= form_group_div(f, :city) %>
		<%= form_group_div(f, :zip_code) %>
		<%= form_group_div(f, :state) %>	
		<!-- End Customer information -->

		<!-- Accessories -->
		<h2>Accessories</h2>
		<%= f.collection_check_boxes :accessory_ids, Accessory.all, :id, :name do |b| %>
		<%= b.label(class: "check_box") do %>
				<%= b.check_box(class: "check_box") %>
				<%= b.object.name %>
			<% end %>
		<% end %>

		<%= f.nested_fields_for :accessories, Accessory.new do |x| %>
			<div class="input-group">
				<%= x.text_field :name, class: 'form-control', placeholder: 'create a new accessory' %>
				<span class="input-group-btn">
				<button class="btn btn-default" type="button"><%= x.remove_nested_fields_link 'Remove', data: {confirm: 'Are you sure?'} %></button>
				</span>
			</div>
  		<% end %><br>
		<%= f.add_nested_fields_link :accessories, 'Add Accessory', class: 'btn btn-default btn-sm', role: 'button' %>
		<!-- End Accessories -->
	</div>

	<!-- Job information -->
	<div class="col-sm-7"> 
		<h2>Job Information</h2> 
		<%= f.nested_fields_for :applications do |a| %>
		<h3>Application <%= a.remove_nested_fields_link 'Remove', class: 'btn btn-danger btn-sm', role: 'button', data: {confirm: 'Are you sure?'} %></h3>
		<%= form_group_custom_select_div(a, :application_type, [['Wall'], ['Ceiling'], ['Floor']]) %>
		<%= form_group_div(a, :description, "describe to the customer and workers the details of the application") %>
		
		<div class="row">
			<div class="col-sm-6">
				<%= form_group_custom_select_div(a, :oc, [[16], [19], [24]]) %>
				<%= form_group_custom_select_div(a, :framing, [['TGI'], ['Metal'], ['Conventional']]) %>
				<%= form_group_custom_select_div(a, :vapor_barrier, [['Unfaced'], ['Kraft'], ['FSK'], ['PSK'], ['Visqueen'], ['Membrain']]) %>
				<%= form_group_select_div(a, :r_value, :r_value) %>
				<%= render partial: 'layouts/price', locals: {a: a, item: :square_foot_price} %>
			</div>
			
			<div class="col-sm-6">
				<%= form_group_div(a, :length, "in feet") %>
				<%= form_group_div(a, :width, "in feet") %>
				<%= form_group_div(a, :height, "in feet") %>
				<%= form_group_div(a, :depth, "in inches") %>				
			</div>
			
		</div>
		<%= a.check_box :manual_override %> <%= a.label :insulation_type_ids, "Manual Insulation Overrride (make sure you select the checkbox when overriding)" %>
		<%= a.collection_select(:insulation_type_ids, InsulationType.all, :id, :name, {include_blank: "selecting this will override all other selections for this application"}, {class: 'form-control'}) %><br>
		
		<% end %>         
		<%= f.add_nested_fields_link :applications, 'Add Application', class: 'btn btn-default btn-sm', role: 'button' %>
		
	</div>
	<!-- End Job information -->
	
</div>
<br>
<%= f.submit class: 'btn btn-primary' %>
<% end %>
