<h1>All Quotes</h1>

<ul class="list-group">
   <% @quotes.each do |quote| %>
      <li class="list-group-item">
         <strong>Customer Name:</strong> <%= quote.customer_name %> |
         <strong>Address:</strong> <%= quote.city %>, <%= quote.state %> <%= quote.zip_code %> |
         <strong>Created on:</strong> <%= quote.created_at.strftime("%a, %e %b %Y") %> |
         <strong>Updated on:</strong> <%= quote.updated_at.strftime("%a, %e %b %Y") %> |
         <strong>Created by:</strong> <%= quote.user.email %>         
         <div class="btn-group" role="group"> 
            <%= link_to 'View', quote_path(quote), method: 'get', class: 'btn btn-primary' %>               
            <%= render partial: 'layouts/button_group', locals: {type: quote, model: 'quote'} %>
         </div>
      </li>
   <% end %>
</ul>