<h1>Your Quote</h1>

<div class="row">

   <div class="col-sm-8">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Customer Information</h3>
         </div>
         <div class="panel-body">
            <p><%= @quote.customer_name %></p>    
            <p><%= @quote.street %></p>
            <p><%= @quote.city %>, <%= @quote.state %> <%= @quote.zip_code %></p>
         </div>
      </div>
   </div>

   <div class="col-sm-4">
      <p>
         <strong>Created by:</strong> <%= @quote.user.email %> | 
         <strong>Created on:</strong> <%= formatted_date(@quote.created_at) %> | 
         <strong>Updated on:</strong> <%= formatted_date(@quote.updated_at) %>
      </p>
      <p>
         <strong>Accessories:</strong>
         <% @quote.accessories.each do |accessory| %>
            <%= accessory.name %> |
         <% end %>
      </p>
      <%= link_to 'New Accessory', new_quote_accessory_path(@quote), class: 'btn btn-default btn-xs' %>
   </div>
   
</div>


<table class="table table-striped">
   
   <thead>
      <tr>
         <th>Application</th>
         <th>Application Type</th>
         <th>Description</th>
         <th class="fixed-col-width">
            Chosen Insulation
            <input onclick="change()" type="button" value="More" id="moreInsulationLink" class="btn btn-primary btn-xs" />
         </th>
         <th>Bags Needed</th>
         <th>Total (based on sq ft price)</th>
      </tr>
   </thead>
   
   <tbody>
      <% @quote.applications.each.with_index(1) do |application, index| %>
      <tr>
         <td><%= index %></td>
         <td><%= application.application_type %></td>
         <td><%= application.description %></td>
         <% if application.insulation_types.empty? %>         
            <td>No insulation was found<td><td></td>
         <% else %>
 
            <td>
               <strong>
                  <%= link_to sorted_by_effective_price(application).first.name, sorted_by_effective_price(application).first %>
               </strong>
               
               <span id="moreInsulation">
                  <% sorted_by_effective_price(application).drop(1).each do |insulation| %>
                     | <%= link_to insulation.name, insulation_type_path(insulation) %>
                  <% end %>   
               </span>​
               
            </td>
            <td>
               <% insulation = sorted_by_effective_price(application).first %>
               <%= (application.height * application.length / insulation.coverage).ceil %>
            </td>
            <td>
               $<%= application.length * application.height * application.square_foot_price %>
            </td>
            
         <% end %>            
      </tr>
      <% end %>
   </tbody>
   
</table>

<h3>Total: $<%= @quote.applications.inject(0){|sum,application| sum + (application.length.to_f * application.height.to_f * application.square_foot_price.to_f) } %></h3>

<div class="btn-group" role="group">      
   <%= render partial: 'layouts/button_group', locals: {type: @quote, model: 'quote'} %>
</div>

