<h1>Your Quote</h1>
<p>Created by: <%= @quote.user.email %></p>

<div class="panel panel-default">
   <div class="panel-heading">
      <h3 class="panel-title">Customer</h3>
   </div>
   <div class="panel-body">
      <p><%= @quote.customer_name %></p>    
      <p><%= @quote.street %></p>
      <p><%= @quote.city %>, <%= @quote.state %> <%= @quote.zip_code %></p>
   </div>
</div>
<% @quote.applications.each.with_index(1) do |application, index| %>
<h2>Application <%= index %></h2>
<div class="panel panel-default">
   <div class="panel-heading">
      <h3 class="panel-title">Results</h3>
   </div>
   <div class="panel-body">
      <p>Chosen Insulation: <%= link_to application.insulation_type.name, insulation_type_path(application.insulation_type) %></p> 
      <p>Bags Needed: <%= application.bags_needed %></p>
      <p>Total (based on price per square foot): $<%= application.length * application.height * application.square_foot_price %></p>
   </div>
</div>

<div class="panel panel-default">
   <div class="panel-heading">
      <h3 class="panel-title">Details</h3>
   </div>
   <div class="panel-body">
      <p>Application Type: <%= application.application_type %> |
      Description: <%= application.description %> |
      OC: <%= application.oc %> |
      Framing: <%= application.framing %> |
      R-Value: <%= application.r_value %> |
      Depth: <%= application.depth %> |
      Length: <%= application.length %> |
      Width: <%= application.width %> |
      Height: <%= application.height %> |
      Vapor Barrier: <%= application.vapor_barrier %>
      <p>Created on: <%= application.insulation_type.created_at.strftime("%a, %e %b %Y") %></p> 
      <p>Updated on: <%= application.insulation_type.updated_at.strftime("%a, %e %b %Y") %></p>
   </div>
</div>

<% end %>

<div class="btn-group" role="group">      
   <%= render partial: 'layouts/button_group', locals: {type: @quote, model: 'quote'} %>
   
</div>

