<h1>Welcome to Insulation Quotes</h1>
<% if user_signed_in? %>
<div class="row">
   <h3>What would you like to do?</h3>
   <div class="col-sm-6">
      <h4>Quotes</h4>
      <div class="btn-group" role="group">  
         <%= link_to 'All Quotes', quotes_path, method: 'get', class: 'btn btn-primary' %>
         <%= link_to 'New Quote', new_quote_path, class: 'btn btn-primary' %>
      </div>
   </div>
   
   <div class="col-sm-6">
      <h4>Insulation Types</h4>
      <div class="btn-group" role="group">      
         <%= link_to 'All Insulation Types', insulation_types_path, method: 'get', class: 'btn btn-primary' %>
         <%= link_to 'New Insulation Type', new_insulation_type_path, class: 'btn btn-primary' %>
      </div>
   </div>
   <% else %>
   <h3>You are currently not logged in, please 
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-sm' %> or 
      <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary btn-sm' %>.
   </h3>
   <% end %>
</div>