<%= form_for @insulationtype do |f| %>
<div class="row">

   <div class="col-sm-6">
      <%= form_group_div(f, :name) %>         
      <%= form_group_div(f, :coverage) %>         
      <%= form_group_div(f, :r_value) %>         
   </div>

   <div class="col-sm-6">
      <%= form_group_div(f, :thickness) %>         
      <%= form_group_div(f, :width) %>         
      <%= form_group_div(f, :facing) %>
      <%= render partial: 'layouts/price', locals: {a: f, item: :price} %>             
   </div>
   
</div>
<%= f.submit class: 'btn btn-primary' %>
<% end %>