<%= form_for @insulationtype do |f| %>

   <div class='form-group'>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
   </div>

   <div class='form-group'>
      <%= f.label :oc %>
      <%= f.text_field :oc, class: 'form-control' %>
   </div>

   <div class='form-group'>
      <%= f.label :framing %>
      <%= f.text_field :framing, class: 'form-control' %>
   </div>

   <div class='form-group'>
      <%= f.label :r_value %>
      <%= f.text_field :r_value, class: 'form-control' %>
   </div>

   <div class='form-group'>
      <%= f.label :thickness %>
      <%= f.text_field :thickness, class: 'form-control' %>
   </div>

   <div class='form-group'>
      <%= f.label :width %>
      <%= f.text_field :width, class: 'form-control' %>
   </div>

   <div class='form-group'>
      <%= f.label :facing %>
      <%= f.text_field :facing, class: 'form-control' %>
   </div>

   <div class='form-group'>
      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>
   </div>

   <%= f.submit class: 'btn btn-primary' %>

<% end %>