<a href="#" class="js-next" data-id="<%= @insulationtype.id %>">Next</a>
<h1 id="Name"><%= @insulationtype.name %></h1>

<%= render partial: 'insulation_types/display_panel', locals: {body: @insulationtype.description, name: "Description"} %>
<%= render partial: 'insulation_types/display_panel', locals: {body: @insulationtype.coverage, name: "Coverage"} %>
<%= render partial: 'insulation_types/display_panel', locals: {body: @insulationtype.r_value, name: "R-Value"} %>
<%= render partial: 'insulation_types/display_panel', locals: {body: @insulationtype.thickness, name: "Thickness"} %>
<%= render partial: 'insulation_types/display_panel', locals: {body: @insulationtype.width, name: "Width"} %>
<%= render partial: 'insulation_types/display_panel', locals: {body: @insulationtype.facing, name: "Facing"} %>
<%= render partial: 'insulation_types/display_panel', locals: {body: @insulationtype.price, name: "Price"} %>

<div class="btn-group" role="group">      
   <%= render partial: 'layouts/button_group', locals: {type: @insulationtype, model: 'insulation_type'} %>
</div>