<a href="/insulation_types/" class="js-next" data-id="<%= @insulationtype.id %>">Next</a>
<h1 class="select" id="name"><%= @insulationtype.name %></h1>
<%= render partial: 'insulation_types/display_panel', locals: {body: @insulationtype.description, name: "Description", selector: 'description'} %>
<%= render partial: 'insulation_types/display_panel', locals: {body: @insulationtype.coverage, name: "Coverage", selector: 'coverage' } %>
<%= render partial: 'insulation_types/display_panel', locals: {body: @insulationtype.r_value, name: "R-Value", selector: 'r_value' } %>
<%= render partial: 'insulation_types/display_panel', locals: {body: @insulationtype.thickness, name: "Thickness", selector: 'thickness' } %>
<%= render partial: 'insulation_types/display_panel', locals: {body: @insulationtype.width, name: "Width", selector: 'width' } %>
<%= render partial: 'insulation_types/display_panel', locals: {body: @insulationtype.facing, name: "Facing", selector: 'facing' } %>
<%= render partial: 'insulation_types/display_panel', locals: {body: @insulationtype.price, name: "Price", selector: 'price' } %>

<div class="btn-group" role="group">      
   <%= render partial: 'layouts/button_group', locals: {type: @insulationtype, model: 'insulation_type'} %>   
</div>