<!DOCTYPE html>
<html>
  <head>
    <title>InsulationQuotes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    
    <div class="container">
      <%= render 'layouts/flash_messages' %>        
      <!-- <%# flash.each do |key, value| %>
        <div class="alert alert-<%#= key %>" role="alert"><%#= value %></div> -->
        <!-- Bootstrap alerts are: success, info, warning, and danger -->
      <!-- <%# end %> -->
      <%= yield %>
    </div>
  </body>
</html>
